#carrito{
    width: 30px;
    
}

#carrito:hover{
    cursor:pointer;
}

#top{
    width: 500px;
    position: absolute;
    right: 500px;
    top: 200px;
}

#buscador{
    position: absolute;
    top: 5px;
    left: 500px
}

#principal{
    position: absolute;
    top: 50px;
    left: 500px
}

#botonBuscar:hover{
    cursor:pointer;
}