#carrito{
    width: 60px;
    
}

#carrito:hover{
    cursor:pointer;
}

#titulo{
    font-size: 70%;
}


.buscadorTexto{
    position: absolute;
    top: 5px;
    left: 300px;
    width: 600px;
    height: 30px;
}   

#botonBuscar{
    position: absolute;
    top: 40px;
    left: 300px;
    width: 605px;
    height: 30px;
} 

#principal{
    position: absolute;
    top: 50px;
    left: 500px
}

#botonBuscar:hover{
    cursor:pointer;
}


#img{
    width: 200px;
    position: relative;
    top: 0px;
    left: 50px

}


.nombreJuego{

    width: 100px;
    position: relative;
    
    left: 10px;
}

.precioJuego{

    width: 100px;
    position: relative;
    
    left: 100px;
}

.ratingJuego{

    width: 100px;
    position: relative;
    
    left: 200px;
}
.cantidadJuego{

    width: 100px;
    position: relative;
    
    left: 300px;
}

html{
    font-size: 200%;
}

.mejoresJuegos{
    border-style: groove;
  border-width: 3px;
  background-color: cornsilk;
    
}
